div.shoppage > main {
    > div:nth-of-type(1) {
        display: none;
    }

    i.info-button-campaign {
        color: red;
    }

    td.text-right.td-img > a.image-call {
        float: right;
    }

    div.oe_product.oe_list.oe_product_cart.sgeede-infinite-get {
        padding-left: unset;
        min-height: unset;
        padding-bottom: unset;
    }

    div.col-header{
        border-bottom: solid black 1px;
    }
}