/* Import new fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=latin-ext');
@main-font-family: 'Roboto', sans-serif;
body {
    color: @color-text;
    font-family: @main-font-family;
}

/* Set default colours */
@color-1: #e7e7e7;
@white: #fff;
@color-hv: #db5523;
@color-alt-link: #000;
@color-alt-shadow: #051f50;
@color-alt-dark: #000080;
@color-icon-home: #276aec;
@color-icon-home-hover: #FFFFFF;
@color-alt-background: #ddd;
@color-alt-background-hover: #db5523;
@color-icon-text: #480808;
@color-light: #23a9db;
@color-dark: #234ddb;
@color-text: #000;
@color-crumb-link: #337ab7;

/* Breadcrumbs colors */
:root {
    --color-href: @color-crumb-link;
}
